{% extends "sales/index.html" %}
{% block content %}
<h1>RELATED PRODUCTS</h1>
<h3><a href="{% url 'order' order.id %}">Sales order {{ order.id }}</a> / Product {{ product.id }} - {{ product.name }}</h3>

{% if lines %}
    <table>
        <tr><th>Product</th><th>Name</th><th>Popularity</th></tr>
    {% for line in lines %}
        <tr>
            <td>{{ line.p_id }}</td>
            <td>{{ line.p_name }}</td>
            <td>{{ line.popularity }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No related products</p>
{% endif %}
{% endblock content %}